<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= project.name %></title>
<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<%- include header.ejs %>
	<div class="container">
		<div id="panel-realisation" class="panel panel-default" style="min-height:500px;">
			<div class="panel-body">
				<h1><%= project.name %></h1>
				<p><%= project.description %></p>
				<p>
					<% project.links.forEach( function (link){ %> <span><%= link.link %></span> <% }); %>
				</p>
				<div class="row">
					<div class="col-md-8">
						<img id="current-slide-img" style="width:100%;" />
						<h2 id="current-slide-title"></h2>
						<p id="current-slide-desc"></p>
					</div>
					<div class="col-md-4">
						<ul class="media-list">
							<% project.slides.forEach( function (slide){ %>
							<li class="media slide-list-item" onclick='javascript:selectSlide(<%= slide.order %>);'>
							<a class="pull-left" href="#"> <img style="width: 64px; height: 64px;" class="media-object" src="<%= slide.miniature %>">
							</a>
								<div class="media-body">
									<h4 class="media-heading"><%= slide.name %></h4>
									<p><%= slide.description %></p>
								</div></li> <% }); %>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%- include footer.ejs %>
	<script>
		var currentProject = <%- JSON.stringify(project) %>;
		var tmp = <%- JSON.stringify(project.slides) %>;
		var slides = [];
		var i = 0;
		
		for(i=0; i<tmp.length;++i){			
			slides[tmp[i].order] = tmp[i]; 
		}
		var first = tmp[0].order;
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			selectSlide(first);
		});
		
		function selectSlide(iSlide){
			var slide = slides[iSlide]
			$('#current-slide-img').attr('src',slide.image).css('opacity', '0').animate({opacity:1});
			$('#current-slide-title').html(slide.name).css('opacity', '0').animate({opacity:1});
			$('#current-slide-desc').html(slide.description).css('opacity', '0').animate({opacity:1});
		}
	</script>
</body>
</html>