<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Réalisations</title>
<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<%- include header.ejs %>
	<div class="container">
		<h1 id="main-title">Réalisations</h1>
		<% var length = projects.length; if(length%2 != 0){ length += 1; } length /= 2; for(var i=0; i
		<length; i++) { %>
		<div class="row">
			<div class="col-md-6">
				<div class="project-item" onclick="document.location='/realisation/<%= projects[i].key %>';">
					<img class="project-image" src="<%= projects[i].image %>" />
					<h2><%= projects[i].name %></h2>
					<p><%= projects[i].description %></p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="project-item" onclick="document.location='/realisation/<%= projects[i+1].key %>';">
					<img class="project-image" src="<%= projects[i+1].image %>" />
					<h2><%= projects[i+1].name %></h2>
					<p><%= projects[i+1].description %></p>
				</div>
			</div>
		</div>
		<% } %>
	</div>
	<%- include footer.ejs %>
</body>
</html>