<!DOCTYPE html>
<html>
<%- include header.ejs %>
<body>
	<div class="container">
		<h1 id="main-title">Réalisations</h1>
		<% for(var i=0; i < projects.length; i++) { %>
			<div class="col-md-6">
				<div class="project-item" onclick="document.location='/realisation/<%= projects[i].key %>';">
					<img class="project-image" src="<%= projects[i].image %>" />
					<h2><%= projects[i].name %></h2>
					<p><%- projects[i].description %></p>
				</div>
			</div>
		<% } %>
	</div>
	<%- include footer.ejs %>
</body>
</html>